################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LuminaCSGO/v16/Browse.VC.opendb
/.vs/LuminaCSGO/v16
/LuminaCSGO/Debug
/Debug
